[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-meteopl
Exec=sailfish-qml harbour-meteopl
Name=MeteoPL
# translation-matching-profile

[X-Sailjail]
OrganizationName=pl.kan-ibal
ApplicationName=meteopl
Permissions=Internet